# Python
__pycache__
venv

# Logs
*.log

# IDE
.vscode
.idea

# Project
storage

# export
# db

# Задокументированно, так как в ТЗ
# указана необходимость заполнения
# тестовыми данными. В прод такое 
#        я бы не выктил)
